<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ADMINISTRACION</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/admi.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">


</head>

<body onload="mostrarInicio()">

    <div class="container-fluid">
        <div class="row justify-content-center align-content-center">
            <div class="col-8 barra">
                <h4 class="text-light">BIENVENIDO</h4>
            </div>
            <div class="col-4 text-right barra">
                <ul class="navbar-nav mr-auto">
                    <li>
                        <a href="#" class="px-3 text-light perfil dropdown-toggle" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                class="fas fa-user-circle user"></i></a>

                        <div class="dropdown-menu" aria-labelledby="navbar-dropdown">
                            <a class="dropdown-item menuperfil cerrar" href="/logout">
                                <i class="fas fa-sign-out-alt m-1"></i>Salir
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="barra-lateral col-12 col-sm-auto">
                <nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
                    <a href="/admin" onclick="mostrarInicio()"><i class="fas fa-home"></i><span>Inicio</span></a>

                    <a href="/listar"><i class="bi bi-person-vcard"></i><span>Lista de Usuarios</span></a>

                    <a href="/listarpaciente"><i class="bi bi-person-circle"></i><span>Lista de Pacientes</span></a>

                </nav>
            </div>
            <main class="main col">
                <div class="row justify-content-center align-content-center text-center">
                    <div class="columna col-lg-6">
                        <div id="inicio" style="display:none;"> <!-- Contenido de Inicio -->
                            <h2>Bienvenido, Administrador {{session['nombre']}}</h2>
                            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                data-bs-target="#modalingreso">
                                <i class="bi bi-person-add"></i><br>Agregar Operador
                            </button>
                            <!-- Modal de Registro -->
                            <div class="modal fade" id="modalingreso" tabindex="-1" aria-labelledby="modalingresoLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="modalingresoLabel">Registro</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Botón de Ingresar -->

                                            <form action="crear-registro" method="post">
                                                <input type="text" class="form-control" placeholder="Nombres" required
                                                    name="txtnombre" /><br>
                                                <input type="text" class="form-control" placeholder="Apellidos" required
                                                    name="txtapellido" /><br>
                                                <input type="text" class="form-control" placeholder="Correo" required
                                                    name="txtCorreo" /><br>

                                                <input type="password" class="form-control" placeholder="Contraseña"
                                                    required name="txtPassword" /><br>
                                                <input type="text" class="form-control" placeholder="Profesion" required
                                                    name="txtprofesion" /><br>
                                                <input type="text" class="form-control"
                                                    placeholder="Cedula de identidad" required name="txtcedula" /><br>
                                                <input type="date" class="form-control"
                                                    placeholder="Fecha de Nacimiento" required name="txtfechanac" /><br>


                                                <button type="submit" class="btn btn-outline-success">REGISTRAR</button>

                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                data-bs-target="#modalagregarpac"><i class="bi bi-person-plus"></i><br>
                                AGREGAR PACIENTE
                            </button>
                            <div class="modal fade" id="modalagregarpac" tabindex="-1" aria-labelledby="modaleditar"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="modalagregarpac">
                                                Registro Pacientes
                                            </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Botón de Ingresar -->

                                            <form action="/agregarpacad" method="post">
                                                <input type="text" class="form-control" placeholder="Nombres"
                                                    name="txtnombrepactec" />
                                                <br>

                                                <input type="text" class="form-control" placeholder="Apellidos"
                                                    name="txtapellidopactec" /><br>

                                                <input type="text" class="form-control"
                                                    placeholder="Cedula de identidad" name="txtcedulapactec" />

                                                <p>Fecha de Nacimiento</p>
                                                <input type="date" class="form-control" placeholder="Fecha"
                                                    name="txtfechanacpactec" /><br>
                                                <label for="operador">OPERADOR:</label>
                                                <select id="operador" name="operador" required>
                                                    {% for operador in operadores %}
                                                    <option value="{{ operador.id }}">{{ operador.nombre }}</option>
                                                    {% endfor %}
                                                </select><br>
                                                <button type="submit" class="btn btn-outline-success">AGREGAR
                                                    PACIENTE</button>

                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="usuarios" style="display:block;"> <!-- Lista de Usuarios -->
                            <h2>Lista de Usuarios</h2>
                            <table>
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Correo Electrónico</th>
                                        <th>Operaciones</th>
                                        <!-- Agrega más encabezados según tu estructura de datos -->
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for usuario in lista %}
                                    <tr>
                                        <td>{{ usuario.0 }}</td>
                                        <td>{{ usuario.1 }}</td>
                                        <td>{{ usuario.correo }}</td>
                                        <td>
                                            <a href="/editaroperador"></a>

                                            <a href="/borraroperador/{{usuario.0}}"><i class="bi bi-trash"></i></a>
                                        </td>
                                        <!-- Agrega más campos según tu estructura de datos -->
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div id="pacientes" style="display:none;"> <!-- Lista de Pacientes -->
                            <!-- Aquí va el contenido de la lista de pacientes -->
                            <h2>Lista de Pacientes</h2>
                            <ul>
                                <li>Paciente 1</li>
                                <li>Paciente 2</li>
                                <!-- Agrega más elementos según tu estructura de datos -->
                            </ul>
                        </div>
                    </div>
                </div>

            </main>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-bVUxdIeZP4ZmXO6FHzHG5wF/BJnA3kEAlV2JfZ+K5C6heqJwXJgvR6d88Mz02M9Q"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha384-uUo3yF7RKL4Ct2S7Elny2y4EmlnOMc5lAElZBOAM4ltdaL+m5ZHpZa6mXO8JlU1M"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/646c794df3.js"></script>

    <script>
        function mostrarUsuarios() {
            document.getElementById('usuarios').style.display = 'block';
            document.getElementById('pacientes').style.display = 'none';
            document.getElementById('inicio').style.display = 'none'; // Oculta el contenido de Inicio
        }

        function mostrarPacientes() {
            document.getElementById('usuarios').style.display = 'none';
            document.getElementById('pacientes').style.display = 'block';
            document.getElementById('inicio').style.display = 'none'; // Oculta el contenido de Inicio
        }

        function mostrarInicio() {
            document.getElementById('usuarios').style.display = 'none';
            document.getElementById('pacientes').style.display = 'none';
            document.getElementById('inicio').style.display = 'block'; // Muestra el contenido de Inicio
        }
    </script>

</body>

</html>