<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATRAPALO!</title>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.24.0/dist/phaser.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js" crossorigin="anonymous"></script>
</head>

<body>
    <style>
        canvas {
            margin: auto;
            display: block;
            border: 1px solid white;
        }

        body {
            background-color: rgb(3, 18, 68);
            margin: 0;
            overflow: hidden;
        }
    </style>

    <script src="static/juego2izq/index.js" type="module"></script>
    <div class="container">
        <video class="input_video video-container"></video>
    </div>

</body>

</html>