<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMINISTRACION</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/admi.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">

    <!-- Incluye jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Incluye DataTables JS -->
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

</head>

<body>
    <div class="container-fluid">
        <div class="row justify-content-center align-content-center">
            <div class="col-8 barra">
                <h4 class="text-light">BIENVENIDO</h4>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <h4 class="alert-heading">{{ message }}</h4>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            <div class="col-4 text-right barra">
                <ul class="navbar-nav mr-auto">
                    <div class="col-4 text-right barra">
                        <ul class="navbar-nav mr-auto">
                            <li>
                                <a class="dropdown-item menuperfil cerrar" href="/logout">
                                    <i class="fas fa-sign-out-alt m-1"></i>Salir
                            </li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="barra-lateral col-12 col-sm-auto">
                <nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
                    <a href="/admin" onclick="mostrarInicio()"><i class="fas fa-home"></i><span>Inicio</span></a>

                    <a href="/listar"><i class="bi bi-person-vcard"></i><span>Lista de Usuarios</span></a>

                    <a href="/listarpaciente"><i class="bi bi-person-circle"></i><span>Lista de Pacientes</span></a>

                </nav>
            </div>

            <main class="main col">
                <div class="row justify-content-center align-content-center text-center">

                    <form action="{{url_for('buscarusuario')}}" method="post" class="buscar-form">
                        <label for="nombre" class="buscar-label">BUSQUEDA:</label>
                        <div class="input-group">
                            <input type="text" id="nombre" name="nombre" class="buscar-input" placeholder="Buscar...">
                            <button type="submit" class="buscar-btn"><i class="fas fa-search"></i></button>
                        </div>
                    </form>
                    <div id="usuarios" style="display:block;"> <!-- Lista de Usuarios -->
                        <h2>Lista de Usuarios</h2>
                        <table id="miTabla1" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    <th>Correo Electrónico</th>
                                    <th>Contraseña</th>
                                    <th>Cedula de Identidad</th>
                                    <th>Profesion</th>
                                    <th>Telefono</th>
                                    <th>Fecha de nacimiento</th>
                                    <th>
                                        Operaciones
                                    </th>
                                    <!-- Agrega más encabezados según tu estructura de datos -->
                                </tr>
                            </thead>
                            <tbody>
                                {% for usuario in lista %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ usuario.nombre }}</td>
                                    <td>{{ usuario.apellido }}</td>
                                    <td>{{ usuario.usuario }}</td>
                                    <td>{{ usuario.contraseña }}</td>
                                    <td>{{ usuario.cedula }}</td>
                                    <td>{{ usuario.profesion }}</td>
                                    <td>{{ usuario.telefono }}</td>
                                    <td>{{ usuario.fechanac }}</td>
                                    <td>

                                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                            data-bs-target="#modaleditar{{ usuario.id }}">
                                            <i class="bi bi-pencil-fill"></i>
                                        </button>
                                        <div class="modal fade" id="modaleditar{{ usuario.id }}" tabindex="-1"
                                            aria-labelledby="modaleditar{{ usuario.id }}" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="modaleditar">
                                                            Actualizar Datos de Paciente
                                                        </h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- Botón de Ingresar -->

                                                        <form method="post" action="/update/{{ usuario.id }}">
                                                            <p>Nombres</p>
                                                            <input type="text" class="form-control" placeholder="nombre"
                                                                name="txtnombreop" value="{{ usuario.nombre }}" /><br>
                                                            <p>Apellidos</p>
                                                            <input type="text" class="form-control"
                                                                placeholder="Apellidos" name="txtapellidoop"
                                                                value="{{ usuario.apellido }}" /><br>
                                                            <p>Correo Electronico</p>
                                                            <input type="text" class="form-control"
                                                                placeholder="Correo Electronico" name="txcorreoop"
                                                                value="{{ usuario.usuario }}" /><br>
                                                            <p>Contraseña</p>
                                                            <input type="text" class="form-control"
                                                                placeholder="Contraseña" name="txtcontraseñaop"
                                                                value="{{ usuario.contraseña }}" /><br>
                                                            <p>Cedula de Identidad</p>
                                                            <input type="text" class="form-control"
                                                                placeholder="Cedula de identidad" name="txtcedulaop"
                                                                value="{{ usuario.cedula }}" /><br>
                                                            <p>Profesion</p>
                                                            <input type="text" class="form-control"
                                                                placeholder="Profesion" name="txtprofesionop"
                                                                value="{{ usuario.profesion }}" /><br>
                                                            <p>Telefono</p>
                                                            <input type="text" class="form-control"
                                                                placeholder="Teléfono" name="txttelefono"
                                                                value="{{ usuario.telefono }}" />
                                                            <br>
                                                            <p>Fecha de Nacimiento</p>
                                                            <input type="date" class="form-control" placeholder="Fecha"
                                                                name="txtfechanacop"
                                                                value="{{ usuario.fechanac }}" /><br>
                                                            <button type="submit"
                                                                class="btn btn-outline-success">EDITAR</button>

                                                        </form>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="btn btn-danger btn-delete"
                                            onclick="confirmarEliminacion('{{ usuario.id }}')">
                                            <i class="bi bi-trash"></i>
                                        </a>
                                        <script>
                                            function confirmarEliminacion(userId) {
                                                // Mostrar una ventana de confirmación
                                                var confirmacion = confirm("¿Estás seguro de que deseas eliminar este usuario?");

                                                // Si el usuario confirma, redirigir a la ruta de eliminación
                                                if (confirmacion) {
                                                    window.location.href = "/borraroperador/" + userId;
                                                }
                                            }
                                        </script>
                                    </td>
                                    <!-- Agrega más campos según tu estructura de datos -->
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </main>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/646c794df3.js"></script>



</body>

</html>