<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <title>Document</title>
    <style>
        body {
            background: linear-gradient(to left, rgb(32, 26, 26), rgb(4, 4, 134));
            /* Reemplaza con la ruta correcta de tu imagen */
            background-size: cover;
            /* Ajusta el tamaño de la imagen para cubrir todo el body */
        }
    </style>
</head>

<body class="container">
    <audio id="musica1" loop autoplay>
        <source src="/static/music/musicaniño.mp3" type="audio/mpeg">
        <source src="/static/music/musicaniño.ogv" type="audio/ogg">

    </audio>
    <a href="{{ url_for('paciente') }}" class="btn btn-primary">Volver</a>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for messages in messages%}

    <div class="alert alert-dismissible alert-danger" xt-marked="ok">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <h4 class="alert-heading" xt-marked="ok">{{mensaje}}</h4>
        <h4 class="alert-heading" xt-marked="ok">{{mensaje2}}</h4>
    </div>


    {% endfor %}
    {% endif %}
    {% endwith %}
    <div>
        <img src="static/img/lista.png" class="d-block w-100" style="width: 200px; height: 100px;"
            alt="Descripción de la imagen">
    </div>
    <div>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <a href="/juego1" method="post">
                        <img src="static/img/TITULO.png" class="d-block w-50 mx-auto" alt="Responsive image">
                        <h1 class="d-block w-50 mx-auto">Nivel 1</h1>
                    </a>

                    <!-- w-50 para reducir el ancho al 50% -->
                </div>
                <div class="carousel-item">
                    <a href="/juego2" method="post">
                        <img src="static/img/BLOQUEFONDO.JPG" class="d-block mx-auto" alt="Responsive image" width="600"
                            height="300">

                        <h1 class="d-block w-50 mx-auto">Nivel 2</h1>
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="/juego3" method="post">
                        <img src="static/img/AGARRAR.jpeg" class="d-block w-20 mx-auto" alt="Responsive image">
                        <h1 class="d-block w-50 mx-auto">Nivel 3 </h1>

                    </a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


    </div>
    <script>
        function mostrarContenido(contenido) {
            var contenidos = document.querySelectorAll('[id^="contenido"]');
            contenidos.forEach(function (element) {
                element.style.display = 'none';
            });

            var contenedor = document.getElementById(contenido);
            contenedor.style.display = 'block';
        }
        function Playaudio() {
            var audio = document.getElementById("musica1");
            audio.play();
        }

        window.onload = function () {
            Playaudio();
        }

        window.onbeforeunload = function () {
            var audio = document.getElementById("musica1");
            audio.pause();
            audio.currentTime = 0;
        }
    </script>



</body>

</html>