<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <title>Document</title>
    <style>
        body {
            background: linear-gradient(to left, rgb(32, 26, 26), rgb(4, 4, 134));
            /* Reemplaza con la ruta correcta de tu imagen */
            background-size: cover;
            /* Ajusta el tamaño de la imagen para cubrir todo el body */
        }
    </style>
</head>

<body class="container">
    <a href="{{ url_for('paciente') }}" class="btn btn-primary">Volver</a>

    <div>
        <img src="static/img/TITULO1.JPG" class="d-block w-100" style="width: 200px; height: 100px;"
            alt="Descripción de la imagen">
    </div>
    <div>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <a href="/juego1" method="post">
                        <img src="static/img/TITULO.png" class="d-block w-50 mx-auto" alt="...">
                        <h1 class="d-block w-50 mx-auto">ATRAPA AL RATON LO <br>MAS RAPIDO QUE PUEDAS!!!</h1>
                    </a>

                    <!-- w-50 para reducir el ancho al 50% -->
                </div>
                <div class="carousel-item">
                    <a href="/juego2" method="post">
                        <img src="static/img/BLOQUEFONDO.JPG" class="d-block w-60 mx-auto" alt="...">
                        <h1 class="d-block w-50 mx-auto">DERRIBA LOS BLOQUES <br>Y HAZLOS CAER!!!</h1>
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="/juego3" method="post">
                        <img src="static/img/AGARRAR.jpeg" class="d-block w-20 mx-auto" alt="...">
                        <h1 class="d-block w-50 mx-auto">ATRAPAS LOS BLQOUES </h1>
                        
                    </a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>



</body>

</html>