<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SERVICIO TECNICO</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <style>
        .contenido {
            display: none;
        }

        .activo {
            display: block;
        }
    </style>
</head>

<body>

    <nav class="navbar bg-body-tertiary">

        <div class="container-fluid">
            <a class="navbar-brand">SOPORTE TECNICO, {{session['nombre']}} {{session['apellido']}}</a>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <h4 class="alert-heading">{{ message }}</h4>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}


        </div>
    </nav>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" onclick="mostrarContenido('contenido1')">INICIO</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" onclick="mostrarContenido('contenido0')">LISTA DE
                OPERADORES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="mostrarContenido('contenido2')">LISTA DE PACIENTES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="mostrarContenido('contenido3')">JUEGO 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="mostrarContenido('contenido4')">JUEGO 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="mostrarContenido('contenido5')">JUEGO 3</a>
        </li>

        <a class=" menuperfil cerrar" href="/logout">
            <i class="btn btn-outline-danger">Salir<i class="bi bi-box-arrow-right"></i></i>
        </a>

    </ul>

    <div id="contenido0" class="contenido">

        <div id="usuarios" style="display:block;"> <!-- Lista de Usuarios -->
            <h2>Lista de Usuarios</h2>

            <table id="miTabla1" class="table table-striped">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Correo Electrónico</th>
                        <th>Contraseña</th>
                        <th>Cedula de Identidad</th>
                        <th>Profesion</th>
                        <th>Fecha de nacimiento</th>
                        <th>
                            Operaciones
                        </th>
                        <!-- Agrega más encabezados según tu estructura de datos -->
                    </tr>
                </thead>
                <tbody>
                    {% for operador in operadores %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ operador.nombre }}</td>
                        <td>{{ operador.apellido }}</td>
                        <td>{{ operador.usuario }}</td>
                        <td>{{ operador.contraseña }}</td>
                        <td>{{ operador.cedula }}</td>
                        <td>{{ operador.profesion }}</td>
                        <td>{{ operador.fechanac }}</td>
                        <td>

                            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                data-bs-target="#modaleditar{{ operador.id }}">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                            <div class="modal fade" id="modaleditar{{ operador.id }}" tabindex="-1"
                                aria-labelledby="modaleditar{{ operador.id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="modaleditar">
                                                Registro Pacientes
                                            </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Botón de Ingresar -->

                                            <form action="updatetec/{{operador.id}}" method="post">
                                                <p>Nombres</p>
                                                <input type="text" class="form-control" placeholder="nombre"
                                                    name="txtnombreop" value="{{ operador.nombre }}" /><br>
                                                <p>Apellidos</p>
                                                <input type="text" class="form-control" placeholder="Apellidos"
                                                    name="txtapellidoop" value="{{ operador.apellido }}" /><br>
                                                <p>Correo Electronico</p>
                                                <input type="text" class="form-control" placeholder="Correo Electronico"
                                                    name="txcorreoop" value="{{ operador.usuario }}" /><br>
                                                <p>Contraseña</p>
                                                <input type="text" class="form-control" placeholder="Contraseña"
                                                    name="txtcontraseñaop" value="{{ operador.contraseña }}" /><br>
                                                <p>Cedula de Identidad</p>
                                                <input type="text" class="form-control"
                                                    placeholder="Cedula de identidad" name="txtcedulaop"
                                                    value="{{ operador.cedula }}" /><br>
                                                <p>Profesion</p>
                                                <input type="text" class="form-control" placeholder="Profesion"
                                                    name="txtprofesionop" value="{{ operador.profesion }}" /><br>
                                                <p>Fecha de Nacimiento</p>
                                                <input type="date" class="form-control" placeholder="Fecha"
                                                    name="txtfechanacop" value="{{ operador.fechanac }}" /><br>


                                                <button type="submit" class="btn btn-outline-success">EDITAR</button>

                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <a href="#" class="btn btn-danger btn-delete"
                                onclick="confirmarEliminacion1('{{ operador.id }}')">
                                <i class="bi bi-trash"></i>
                            </a>
                            <script>
                                function confirmarEliminacion1(userId) {
                                    // Mostrar una ventana de confirmación
                                    var confirmacion = confirm("¿Estás seguro de que deseas eliminar este usuario?");

                                    // Si el usuario confirma, redirigir a la ruta de eliminación
                                    if (confirmacion) {
                                        window.location.href = "/borraroperadortec/" + userId;
                                    }
                                }
                            </script>
                        </td>
                        <!-- Agrega más campos según tu estructura de datos -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <script>
                $(document).ready(function () {
                    $('#miTabla1').DataTable({
                        "paging": true, // Habilita la paginación
                        "pageLength": 10, // Establece la cantidad de registros por página
                        "pagingType": "full_numbers"
                    });
                });
            </script>
        </div>
    </div>
    <div id="contenido1" class="contenido activo">
        <nav class="navbar bg-body-tertiary">

            <form class="container-fluid justify-content-start">
                <li class="nav-item">

                    <button class="btn btn-outline-success me-2" type="button" data-bs-toggle="modal"
                        data-bs-target="#modaltecnico"><i class="bi bi-person-circle"></i><br>PERFIL DEL
                        TECNICO</button>
                    <br>
                    <br><br>

                    <div class="modal fade" id="modaltecnico" tabindex="-1" aria-labelledby="modaltecnico"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="modaltecnico">
                                        PERFIL DE OPERADOR
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- Botón de Ingresar -->

                                    <form>
                                        <p>Nombres</p>
                                        <input type="text" class="form-control" placeholder="nombre" name="txtnombreop"
                                            value="{{session['nombre']}}" readonly /><br>
                                        <p>Apellidos</p>
                                        <input type="text" class="form-control" placeholder="Apellidos"
                                            name="txtapellidoop" value="{{session['apellido']}}" readonly /><br>
                                        <p>Correo Electronico</p>
                                        <input type="text" class="form-control" placeholder="Correo Electronico"
                                            name="txcorreoop" value="{{session['correo']}}" readonly /><br>

                                        <p>Cedula de Identidad</p>
                                        <input type="text" class="form-control" placeholder="Cedula de identidad"
                                            name="txtcedulaop" value="{{session['cedula']}}" readonly /><br>
                                        <p>Profesion</p>
                                        <input type="text" class="form-control" placeholder="Profesion"
                                            name="txtprofesionop" value="{{session['profesion']}}" readonly /><br>
                                        <p>Fecha de Nacimiento</p>
                                        <input type="text" class="form-control" placeholder="Fecha" name="txtfechanacop"
                                            value="{{session['fechanac']}}" readonly /><br>
                                        <p>Telefono</p>
                                        <input type="text" class="form-control" placeholder="Telf" name="txttelefono"
                                            value="{{session['telefono']}}" readonly /><br>


                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalingreso">
                        <i class="bi bi-person-add"></i><br>Agregar Operador
                    </button>


                    <!-- Modal de Registro -->
                    <div class="modal fade" id="modalingreso" tabindex="-1" aria-labelledby="modalingresoLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="modalingresoLabel">Registro</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- Botón de Ingresar -->

                                    <form action="crear-registrotec" method="post">
                                        <input type="text" class="form-control" placeholder="Nombres" required
                                            name="txtnombre" pattern="[A-Za-záéíóúüñÁÉÍÓÚÜÑ\s]+"
                                            title="Solo se permiten letras y espacios" /><br>
                                        <input type="text" class="form-control" placeholder="Apellidos" required
                                            name="txtapellido" pattern="[A-Za-záéíóúüñÁÉÍÓÚÜÑ\s]+"
                                            title="Solo se permiten letras y espacios" /><br>
                                        <input type="text" class="form-control" placeholder="Correo" required
                                            name="txtCorreo" /><br>

                                        <input type="password" class="form-control" placeholder="Contraseña" required
                                            name="txtPassword" minlength="6" /><br>
                                        <input type="text" class="form-control" placeholder="Telefono/Celular"
                                            name="txttelefono" minlength="7" /><br>
                                        <select name="txtprofesion" class="form-control">
                                            <option value="ING. BIOMEDICA">ING. BIOMEDICA</option>
                                            <option value="ESTUDIANTE">ESTUDIANTE</option>
                                            <option value="FISIOTERAPIA">FISIOTERAPIA</option>
                                            <option value="ENFERMERIA">ENFERMERIA</option>
                                        </select><br>
                                        <input type="text" class="form-control" placeholder="Cedula de identidad"
                                            required name="txtcedula" minlength="4" /><br>
                                        <input type="date" class="form-control" placeholder="Fecha de Nacimiento"
                                            required name="txtfechanac" min="1950-01-01" max="2000-01-01" /><br>


                                        <button type="submit" class="btn btn-outline-success">REGISTRAR</button>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#modalagregarpac"><i class="bi bi-person-plus"></i><br>
                        AGREGAR PACIENTE
                    </button>
                    <div class="modal fade" id="modalagregarpac" tabindex="-1" aria-labelledby="modaleditar"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="modalagregarpac">
                                        Registro Pacientes
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- Botón de Ingresar -->

                                    <form action="/agregarpactec" method="post">
                                        <input type="text" class="form-control" placeholder="Nombres"
                                            name="txtnombrepactec" pattern="[A-Za-záéíóúüñÁÉÍÓÚÜÑ\s]+"
                                            title="Solo se permiten letras y espacios" />
                                        <br>

                                        <input type="text" class="form-control" placeholder="Apellidos"
                                            name="txtapellidopactec" pattern="[A-Za-záéíóúüñÁÉÍÓÚÜÑ\s]+"
                                            title="Solo se permiten letras y espacios" /><br>

                                        <input type="text" class="form-control" placeholder="Cedula de identidad"
                                            name="txtcedulapactec" minlength="5" />

                                        <p>Fecha de Nacimiento</p>
                                        <input type="date" class="form-control" placeholder="Fecha"
                                            name="txtfechanacpactec" min="1950-01-01" max="2000-01-01" /><br>
                                        <label for="operador">OPERADOR:</label>
                                        <select id="operador" name="operador" required>
                                            {% for operador in operadores %}
                                            <option value="{{ operador.id }}">{{ operador.nombre }},{{ operador.apellido
                                                }}</option>
                                            {% endfor %}
                                        </select><br>
                                        <button type="submit" class="btn btn-outline-success">AGREGAR PACIENTE</button>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped" id="miTabla6">
                        <thead>
                            <tr>
                                <th>N°</th>
                                <th>Ruta</th>
                                <th>Mensaje</th>


                                <th>
                                    Operaciones
                                </th>
                                <!-- Agrega más encabezados según tu estructura de datos -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for errores in error %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ errores.ruta }}</td>
                                <td>{{ errores.mensaje }}</td>


                                <td>
                                    <a href="#" class="btn btn-danger btn-delete"
                                        onclick="confirmarEliminacion2('{{ errores.id_error }}')">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                    <script>
                                        function confirmarEliminacion2(userId) {
                                            // Mostrar una ventana de confirmación
                                            var confirmacion = confirm("¿Estás seguro de que deseas eliminar este usuario?");

                                            // Si el usuario confirma, redirigir a la ruta de eliminación
                                            if (confirmacion) {
                                                window.location.href = "/borrarerror/" + userId;
                                            }
                                        }
                                    </script>
                                </td>
                                <!-- Agrega más campos según tu estructura de datos -->
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <script>
                        $(document).ready(function () {
                            $('#miTabla6').DataTable({
                                "paging": true, // Habilita la paginación
                                "pageLength": 10, // Establece la cantidad de registros por página
                                "pagingType": "full_numbers"
                            });
                        });
                    </script>
                </li>
            </form>
        </nav>
    </div>
    <div id="contenido2" class="contenido">
        <div id="usuarios" style="display:block;"> <!-- Lista de Usuarios -->
            <h2>Lista de pacientes</h2>

            <table class="table table-striped" id="miTabla">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Cedula de Identidad</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Operador </th>
                        <th>Operaciones </th>


                        <!-- Agrega más encabezados según tu estructura de datos -->
                    </tr>
                </thead>
                <tbody>
                    {% for paciente in pacientes %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ paciente.nombres }}</td>
                        <td>{{ paciente.apellidos }}</td>
                        <td>{{ paciente.cedulapac }}</td>
                        <td>{{ paciente.fechanacpc }}</td>
                        <td>{{ paciente.nombre_usuario }}</td>
                        <td>

                            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                data-bs-target="#modaleditarpac{{ paciente.id_paciente }}">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                            <div class="modal fade" id="modaleditarpac{{ paciente.id_paciente }}" tabindex="-1"
                                aria-labelledby="modaleditarpac{{ paciente.id_paciente }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="modaleditar">
                                                Actualizar Datos de Pacientes
                                            </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">


                                            <form
                                                action="{{ url_for('update_pactec', id_paciente=paciente.id_paciente) }}"
                                                method="post">

                                                <p>Nombres</p>
                                                <input type="text" class="form-control" placeholder="nombre"
                                                    name="txtnombrepac" value="{{ paciente.nombres }}"
                                                    pattern="[A-Za-záéíóúüñÁÉÍÓÚÜÑ\s]+"
                                                    title="Solo se permiten letras y espacios" /><br>
                                                <p>Apellidos</p>
                                                <input type="text" class="form-control" placeholder="Apellidos"
                                                    name="txtapellidopac" value="{{ paciente.apellidos }}"
                                                    pattern="[A-Za-záéíóúüñÁÉÍÓÚÜÑ\s]+"
                                                    title="Solo se permiten letras y espacios" /><br>


                                                <p>Cedula de Identidad</p>
                                                <input type="text" class="form-control"
                                                    placeholder="Cedula de identidad" name="txtcedulapac"
                                                    value="{{ paciente.cedulapac }}" minlength="4" /><br>

                                                <p>Fecha de Nacimiento</p>
                                                <input type="date" class="form-control" placeholder="Fecha"
                                                    name="txtfechanacpac" value="{{ paciente.fechanacpc }}"
                                                    min="1950-01-01" max="2020-01-01" /><br>
                                                <p>operadores</p>
                                                <select id="operador" name="operador" required>
                                                    {% for operador in operadores %}
                                                    <option value="{{ operador.id }}">{{ operador.nombre
                                                        }}</option>
                                                    {% endfor %}
                                                </select><br>

                                                <button type="submit" class="btn btn-outline-success">EDITAR</button>

                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn btn-danger btn-delete"
                                onclick="confirmarEliminacion3('{{ paciente.id_paciente }}')">
                                <i class="bi bi-trash"></i>
                            </a>
                            <script>
                                function confirmarEliminacion3(userId) {
                                    // Mostrar una ventana de confirmación
                                    var confirmacion = confirm("¿Estás seguro de que deseas eliminar este usuario?");

                                    // Si el usuario confirma, redirigir a la ruta de eliminación
                                    if (confirmacion) {
                                        window.location.href = "/borrarpacientetec/" + userId;
                                    }
                                }
                            </script>
                        </td>
                        <!-- Agrega más campos según tu estructura de datos -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <script>
            $(document).ready(function () {
                $('#miTabla').DataTable({
                    "paging": true, // Habilita la paginación
                    "pageLength": 10, // Establece la cantidad de registros por página
                    "pagingType": "full_numbers"
                });
            });
        </script>
    </div>

    <div id="contenido3" class="contenido">
        <div id="usuarios" style="display:block;"> <!-- Lista de Usuarios -->
            <h2>Lista de pacientes</h2>

            <table class="table table-striped" id="miTabla3">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Nivel</th>
                        <th>Tiempo para Completar</th>
                        <th>Fecha y hora</th>
                        <th>Mano ejercitada</th>

                        <th>
                            Operaciones
                        </th>
                        <!-- Agrega más encabezados según tu estructura de datos -->
                    </tr>
                </thead>
                <tbody>
                    {% for tratamientos in tratamiento %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ tratamientos.nivel }}</td>
                        <td>{{ tratamientos.hora }}</td>
                        <td>{{ tratamientos.fechapunto }}</td>
                        <td>{{ tratamientos.mano }}</td>

                        <td>
                            <a href="#" class="btn btn-danger btn-delete"
                                onclick="confirmarEliminacion4('{{ tratamientos.id_tratamiento }}')">
                                <i class="bi bi-trash"></i>
                            </a>
                            <script>
                                function confirmarEliminacion4(userId) {
                                    // Mostrar una ventana de confirmación
                                    var confirmacion = confirm("¿Estás seguro de que deseas eliminar este usuario?");

                                    // Si el usuario confirma, redirigir a la ruta de eliminación
                                    if (confirmacion) {
                                        window.location.href = "/borrardato/" + userId;
                                    }
                                }
                            </script>
                        </td>
                        <!-- Agrega más campos según tu estructura de datos -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <script>
            $(document).ready(function () {
                $('#miTabla3').DataTable({
                    "paging": true, // Habilita la paginación
                    "pageLength": 10, // Establece la cantidad de registros por página
                    "pagingType": "full_numbers"
                });
            });
        </script>
    </div>
    <div id="contenido4" class="contenido">
        <div id="usuarios" style="display:block;"> <!-- Lista de Usuarios -->
            <h2>Lista de pacientes</h2>

            <table class="table table-striped" id="miTabla4">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Nivel</th>
                        <th>Tiempo para Completar</th>
                        <th>Fecha y hora</th>
                        <th>Mano ejercitada</th>
                        <th>Paciente</th>

                        <th>
                            Operaciones
                        </th>
                        <!-- Agrega más encabezados según tu estructura de datos -->
                    </tr>
                </thead>
                <tbody>
                    {% for tratamientos2 in tratamiento2 %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ tratamientos2.nivel }}</td>
                        <td>{{ tratamientos2.hora }}</td>
                        <td>{{ tratamientos2.fechapunto }}</td>
                        <td>{{ tratamientos2.mano }}</td>

                        <td>
                            <a href="#" class="btn btn-danger btn-delete"
                                onclick="confirmarEliminacion5('{{ tratamientos2.id_tratamiento2 }}')">
                                <i class="bi bi-trash"></i>
                            </a>
                            <script>
                                function confirmarEliminacion5(userId) {
                                    // Mostrar una ventana de confirmación
                                    var confirmacion = confirm("¿Estás seguro de que deseas eliminar este usuario?");

                                    // Si el usuario confirma, redirigir a la ruta de eliminación
                                    if (confirmacion) {
                                        window.location.href = "/borrar_dato2/" + userId;
                                    }
                                }
                            </script>
                        </td>
                        <!-- Agrega más campos según tu estructura de datos -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <script>
            $(document).ready(function () {
                $('#miTabla4').DataTable({
                    "paging": true, // Habilita la paginación
                    "pageLength": 10, // Establece la cantidad de registros por página
                    "pagingType": "full_numbers"
                });
            });
        </script>
    </div>

    <div id="contenido5" class="contenido">
        <div id="usuarios" style="display:block;"> <!-- Lista de Usuarios -->
            <h2>Lista de pacientes</h2>

            <table class="table table-striped" id="miTabla5">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Nivel</th>
                        <th>Tiempo para Completar</th>
                        <th>Fecha y hora</th>
                        <th>Mano ejercitada</th>

                        <th>
                            Operaciones
                        </th>
                        <!-- Agrega más encabezados según tu estructura de datos -->
                    </tr>
                </thead>
                <tbody>
                    {% for tratamientos3 in tratamiento3 %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ tratamientos3.nivel }}</td>
                        <td>{{ tratamientos3.hora }}</td>
                        <td>{{ tratamientos3.fechapunto }}</td>
                        <td>{{ tratamientos3.mano }}</td>

                        <td>


                            <a href="#" class="btn btn-danger btn-delete"
                                onclick="confirmarEliminacion6('{{ tratamientos3.id_tratamiento3 }}')">
                                <i class="bi bi-trash"></i>
                            </a>
                            <script>
                                function confirmarEliminacion6(userId) {
                                    // Mostrar una ventana de confirmación
                                    var confirmacion = confirm("¿Estás seguro de que deseas eliminar este usuario?");

                                    // Si el usuario confirma, redirigir a la ruta de eliminación
                                    if (confirmacion) {
                                        window.location.href = "/borrardato3/" + userId;
                                    }
                                }
                            </script>
                        </td>
                        <!-- Agrega más campos según tu estructura de datos -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <script>
            $(document).ready(function () {
                $('#miTabla5').DataTable({
                    "paging": true, // Habilita la paginación
                    "pageLength": 10, // Establece la cantidad de registros por página
                    "pagingType": "full_numbers"
                });
            });
        </script>
    </div>
    <script>
        function mostrarContenido(idContenido) {
            // Ocultar todos los contenidos
            document.querySelectorAll('.contenido').forEach(function (contenido) {
                contenido.classList.remove('activo');
            });

            // Mostrar el contenido correspondiente al botón clickeado
            document.getElementById(idContenido).classList.add('activo');
        }
        function cerrarMensaje(button) {
            button.parentElement.style.display = 'none';
        }
    </script>

</body>

</html>