.logo {
    max-width: 20%;
    height: 40%;
    /* Cambiado de 200px a 100% para adaptarse al ancho del contenedor */

    /* Agregado para limitar el tamaño máximo */
    position: absolute;
    top: 20px;
    left: 20px;
}

.fondo-emp {
    max-width: 20%;
    /* Ajusta el tamaño máximo de la imagen */
    position: absolute;
    height: 60%;
    /* Cambiado a un porcentaje para que se ajuste al tamaño de la pantalla */
    width: 45%;
    /* Cambiado a un porcentaje para que se ajuste al tamaño de la pantalla */
    right: 10%;
    bottom: 5%;
    z-index: 1;
}

.emp {
    max-width: 20%;
    /* Ajusta el tamaño máximo de la imagen */
    position: absolute;
    height: 30PX;
    /* Cambiado a un porcentaje para que se ajuste al tamaño de la pantalla */
    width: 45%;
    /* Cambiado a un porcentaje para que se ajuste al tamaño de la pantalla */
    right: 0%;
    bottom: 0;
    z-index: 2;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ac0cdd;
    font-family: consolas;
}

#span1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #00ea0c);
}

.btn-neon:hover #span1 {
    left: 100%;
    transition: 1s;
}

#span3 {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #00e116);
}

.btn-neon:hover #span3 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#span2 {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #01fb16);
}

.btn-neon:hover #span2 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

#span4 {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #37ff00);
}

.btn-neon:hover #span4 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

body {
    background-color: #808080;
    /* Código de color para gris */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: consolas;
}



.container {
    background-color: #767676;
    min-height: 100vh;
    /* Cambiado de height: 100% a min-height: 100vh para ocupar al menos el 100% de la altura de la pantalla */
    position: fixed;
    top: 0;
    left: 0;
}
header p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

@media screen and (max-width: 575px) {

    /* Reglas de CSS para pantallas pequeñas */
    .header-container {
        flex-direction: column;
        /* Cambia la dirección a columna en pantallas pequeñas */
        align-items: flex-start;
        /* Ajusta la alineación en pantallas pequeñas */
    }

    header h1 {
        margin-left: 0;
        /* Elimina el margen entre la imagen y el título en pantallas pequeñas */
        font-size: 1.2rem;
    }
}